* {
  margin: 0;
  padding: 0;
}
header {
  height: 6rem;
  background: #ff8a00;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header h1 {
  font-size: 0;
}
header h1 a img {
  width: 10rem;
  height: 4.5rem;
}
header .icon {
  font-size: 0;
}
header .icon img {
  width: 3rem;
  height: 3.5rem;
  margin-left: 1.5rem;
}
.rentalAddr {
  height: 4rem;
  line-height: 4rem;
  background: #ffffff;
  padding-left: 1.5rem;
  border-bottom: 1px solid #bfbebe;
}
.rentalAddr p {
  font-size: 1.2rem;
}
.rentalAddr p span {
  color: #080808;
}
.registerForm ul {
  list-style: none;
}
.registerForm ul li {
  height: 5rem;
  border-bottom: 1px solid #bfbebe;
  position: relative;
}
.registerForm ul li input {
  width: 100%;
  line-height: 5rem;
  border: none;
  outline: none;
  padding-left: 1.5rem;
  font-size: 1.1rem;
  color: #2d2a2a;
}
.registerForm ul li span {
  position: absolute;
  top: 2rem;
  right: 4rem;
}
.registerForm ul li #code {
  width: 8rem;
  height: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
  border: 0.1rem solid #bfbebe;
  text-decoration: none;
  color: #2d2a2a;
  padding: 0.8rem 1rem;
  position: absolute;
  top: 0.9rem;
  right: 3rem;
}
.registerForm .btn {
  width: 30rem;
  height: 5rem;
  background: #ff8a00;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 1.8rem;
  margin-top: 1.4rem;
  margin-left: 4rem;
  margin-right: 1rem;
}
