//登录
* {
    margin: 0;
    padding: 0;
}

header {
    height: 6rem;
    background: #ff8a00;
    display: flex;
    justify-content: space-around;
    align-items: center;

    h1 {
        font-size: 0;

        a {
            img {
                width: 10rem;
                height: 4.5rem;
            }
        }
    }

    .icon {
        font-size: 0;

        img {
            width: 3rem;
            height: 3.5rem;
            margin-left: 1.5rem;
        }
    }

}

.rentalAddr {
    height: 4rem;
    line-height: 4rem;
    background: #ffffff;
    padding-left: 1.5rem;
    border-bottom: 1px solid #504f4f;


    p {
        font-size: 1.2rem;

        span {
            color: #080808;
        }
    }
}

.registerForm {
    .title {
        display: flex;
        justify-content: space-around;

        li {
            line-height: 4rem;
            font-size: 1.4rem;
            text-align: center;
            width: 50%;

        }

        .active {
            border-bottom: 4px solid #ff8a00;
        }
    }
}




.registerForm {

    ul {
        list-style: none;
        border-bottom: 1px solid #dcdcdc;

        .click {

            height: 4rem;
            // border-bottom: 2px solid #ff8a00;


        }
    }

    .customLogin {
        // height: 15rem;

        ul {
            li {
                position: relative;
                border-top: 0.1rem solid #dcdcdc;

                input {
                    border: none;
                    outline: none;
                    width: 100%;
                    height: 4rem;
                    line-height: 4rem;
                    padding-left: 1.5rem;
                    font-size: 1.1rem;
                }

                span {
                    position: absolute;
                    top: 1.2rem;
                    right: 3rem;
                }
            }
        }

        .registerBtn {
            width: 30rem;
            height: 4rem;
            background: #ff8a00;
            outline: none;
            border: none;
            color: #ffffff;
            font-size: 1.6rem;
            margin-top: 1.5rem;
            margin-left: 3rem;
        }

        .tiShi {
            margin: 1.5rem 1rem 0;

            a {
                text-decoration: none;
                font-size: 1.2rem;
            }

            a:first-of-type {
                float: left;
                color: #ff8a00;
            }

            a:last-of-type {
                float: right;
                color: #666;
            }
        }
    }


    .fastLogin {
        ul {
            li {
                height: 4rem;
                position: relative;
                border-top: 0.1rem solid #dcdcdc;


                input {
                    border: none;
                    outline: none;
                    width: 100%;
                    height: 4rem;
                    line-height: 4rem;
                    padding-left: 1.5rem;
                    font-size: 1.1rem;
                }

                span {
                    position: absolute;
                    top: 1.2rem;
                    right: 3rem;
                }
            }

            .mima {
                position: relative;

                a {
                    text-decoration: none;
                    color: rgb(97, 97, 97);
                    position: absolute;
                    top: 0.4rem;
                    right: 1.6rem;
                    text-align: center;
                    border: 1px solid #dcdcdc;
                    padding: 0.8rem 1rem;

                }
            }
        }

        .registerBtn {
            width: 30rem;
            height: 4rem;
            background: #ff8a00;
            outline: none;
            border: none;
            color: #ffffff;
            font-size: 1.6rem;
            margin-top: 1.5rem;
            margin-left: 3rem;
        }

        .tiShi {
            margin: 1.5rem 1rem 0;

            a {
                text-decoration: none;
                font-size: 1.2rem;
            }

            a:first-of-type {
                float: left;
                color: #ff8a00;
            }

            a:last-of-type {
                float: right;
                color: #666;
            }
        }
    }

}



.login {
    form {

        .title {
            display: flex;
            background: #ffffff;

            li {
                flex: 1;
                text-align: center;
                line-height: 4rem;
                border-bottom: 4px solid #d1d1d1;
            }

            li.active {
                border-bottom: 4px solid #ff8a00;

            }
        }

    }
}