* {
  margin: 0;
  padding: 0;
}
header {
  height: 6rem;
  background: #ff8a00;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header h1 {
  font-size: 0;
}
header h1 a img {
  width: 10rem;
  height: 4.5rem;
}
header .icon {
  font-size: 0;
}
header .icon img {
  width: 3rem;
  height: 3.5rem;
  margin-left: 1.5rem;
}
.rentalAddr {
  height: 4rem;
  line-height: 4rem;
  background: #ffffff;
  padding-left: 1.5rem;
  border-bottom: 1px solid #504f4f;
}
.rentalAddr p {
  font-size: 1.2rem;
}
.rentalAddr p span {
  color: #080808;
}
.registerForm .title {
  display: flex;
  justify-content: space-around;
}
.registerForm .title li {
  line-height: 4rem;
  font-size: 1.4rem;
  text-align: center;
  width: 50%;
}
.registerForm .title .active {
  border-bottom: 4px solid #ff8a00;
}
.registerForm ul {
  list-style: none;
  border-bottom: 1px solid #dcdcdc;
}
.registerForm ul .click {
  height: 4rem;
}
.registerForm .customLogin ul li {
  position: relative;
  border-top: 0.1rem solid #dcdcdc;
}
.registerForm .customLogin ul li input {
  border: none;
  outline: none;
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  padding-left: 1.5rem;
  font-size: 1.1rem;
}
.registerForm .customLogin ul li span {
  position: absolute;
  top: 1.2rem;
  right: 3rem;
}
.registerForm .customLogin .registerBtn {
  width: 30rem;
  height: 4rem;
  background: #ff8a00;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 1.6rem;
  margin-top: 1.5rem;
  margin-left: 3rem;
}
.registerForm .customLogin .tiShi {
  margin: 1.5rem 1rem 0;
}
.registerForm .customLogin .tiShi a {
  text-decoration: none;
  font-size: 1.2rem;
}
.registerForm .customLogin .tiShi a:first-of-type {
  float: left;
  color: #ff8a00;
}
.registerForm .customLogin .tiShi a:last-of-type {
  float: right;
  color: #666;
}
.registerForm .fastLogin ul li {
  height: 4rem;
  position: relative;
  border-top: 0.1rem solid #dcdcdc;
}
.registerForm .fastLogin ul li input {
  border: none;
  outline: none;
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  padding-left: 1.5rem;
  font-size: 1.1rem;
}
.registerForm .fastLogin ul li span {
  position: absolute;
  top: 1.2rem;
  right: 3rem;
}
.registerForm .fastLogin ul .mima {
  position: relative;
}
.registerForm .fastLogin ul .mima a {
  text-decoration: none;
  color: #616161;
  position: absolute;
  top: 0.4rem;
  right: 1.6rem;
  text-align: center;
  border: 1px solid #dcdcdc;
  padding: 0.8rem 1rem;
}
.registerForm .fastLogin .registerBtn {
  width: 30rem;
  height: 4rem;
  background: #ff8a00;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 1.6rem;
  margin-top: 1.5rem;
  margin-left: 3rem;
}
.registerForm .fastLogin .tiShi {
  margin: 1.5rem 1rem 0;
}
.registerForm .fastLogin .tiShi a {
  text-decoration: none;
  font-size: 1.2rem;
}
.registerForm .fastLogin .tiShi a:first-of-type {
  float: left;
  color: #ff8a00;
}
.registerForm .fastLogin .tiShi a:last-of-type {
  float: right;
  color: #666;
}
.login form .title {
  display: flex;
  background: #ffffff;
}
.login form .title li {
  flex: 1;
  text-align: center;
  line-height: 4rem;
  border-bottom: 4px solid #d1d1d1;
}
.login form .title li.active {
  border-bottom: 4px solid #ff8a00;
}
